//tutaj wszystkie zmienne w px

$background-body: '../images/body-bg.jpg';
$background-topic: '../images/top.jpg';

$color-white-shadow: rgba(255, 255, 255, 0.5);

body.body-choose-topic {
  background-image: url($background-body);
  background-size: 1920px 1080px;
  background-position: left top;
  width: 100%;
  height: 1080px;
  overflow: hidden;

  main {
    background-image: url($background-topic);
    height: 690px;
    position: relative;
    background-size: 1920px 690px;
    //overflow: hidden;
  }

  ul {
    position: absolute;
    width: 100%;
    bottom: 0;
    margin: 0;
    list-style-type: none;
    text-align: center;
    display: flex;
    justify-content: center;
    background-image: url($background-body);
    background-size: 1920px 1080px;
    padding-left: 0;
    padding: 0 10%;

    > li {
      font-size: 2em;
      text-transform: lowercase;
      display: inline-block;
      padding: 40px 130px;
      margin-top: 0;
      height: 150px;
      display: flex;
      border-bottom: 1px solid transparent;
      border-left: 1px solid transparent;
      border-right: 1px solid transparent;
      curosor: pointer;
      //min-width: 410px;
      flex-grow: 1;
      flex-basis: 0;

      @media screen and (max-width: 1600px) {
        padding: 40px 60px;
      }

      @media screen and (max-width: 1280px) {
        padding: 40px;
      }

      &.active {
        position: relative;
        border-bottom: 1px solid $color-white;
        border-bottom-left-radius: 60px;
        border-bottom-right-radius: 60px;
        background-image: url($background-topic);
        background-position: left bottom;
        border-left: 1px solid $color-white;
        border-right: 1px solid $color-white;
        background-size: 1920px 670px;
        box-shadow: 0px 5px 8px -5px $color-white-shadow,
          -5px 3px 8px -5px $color-white-shadow,
          5px 3px 8px -5px $color-white-shadow,
          inset 8px -3px 6px -6px $color-white-shadow,
          inset 0px -8px 6px -6px $color-white-shadow,
          inset -8px -3px 6px -6px $color-white-shadow;

        .clip-before {
          //position: relative;

          .clip-top {
            content: '';
            position: absolute;
            width: 75px;
            height: 82px;
            left: -75px;
            border-top-right-radius: 60px;
            border-right: 1px solid $color-white;
            border-top: 1px solid $color-white;
            z-index: 2;
            top: 0;
            background-image: url($background-body);
            background-size: 1920px 1080px;
            box-shadow: inset -3px 4px 8px -3px $color-white-shadow, 7px -1px 6px -4px $color-white-shadow;
          }

          .clip-bottom {
            content: '';
            position: absolute;
            width: 85px;
            height: 75px;
            left: -74px;
            top: 0;
            z-index: 1;
            background-image: url($background-topic);
            background-size: 1920px 670px;
          }
        }

        .clip-after {

          .clip-top {
            content: '';
            position: absolute;
            width: 75px;
            height: 82px;
            right: -75px;
            border-top-left-radius: 60px;
            border-top: 1px solid $color-white;
            border-left: 1px solid $color-white;
            z-index: 2;
            top: 0;
            background-image: url($background-body);
            background-size: 1920px 1080px;
            box-shadow: inset 3px 4px 8px -3px $color-white-shadow, -7px -1px 6px -4px $color-white-shadow;
          }

          .clip-bottom {
            content: '';
            position: absolute;
            width: 85px;
            height: 75px;
            right: -74px;
            top: 0;
            z-index: 1;
            background-image: url($background-topic);
            background-size: 1920px 670px;
          }
        }
      }
    }

    a {
      transition: color .3s;
      color: $color-white;
      align-self: center;
      margin: 0 auto;
      white-space: nowrap;

      &:hover, &:focus {
        text-decoration: none;
        color: rgba(255, 255, 255, 0.6);
      }
    }
  }

  .nav-choose-topic {
    color: $color-white;
  }

  .nav-line-before {
    position: absolute;
    border-top: 1px solid $color-white;
    left: 0;
    bottom: 149px;
    z-index: 10;

    &:before {
      content: '';
      position: absolute;
      box-shadow: inset 4px 4px 8px -3px $color-white-shadow;
      height: 10px;
      width: 100%;
      bottom: -10px;
      left: -14px;
    }
  }

  .nav-line-after {
    position: absolute;
    border-top: 1px solid $color-white;
    right: 0;
    bottom: 149px;
    z-index: 10;

    &:before {
      content: '';
      position: absolute;
      box-shadow: inset -4px 4px 8px -3px $color-white-shadow;
      height: 10px;
      width: 100%;
      bottom: -10px;
      right: -14px;
    }
  }
}
