//button switcher
main {

  .font-big {
    font-size: 44px;
    font-family: "Calibri";
    line-height: 1.091;
    text-align: justify;
  }

  .font-medium {
    font-size: 36px;
    font-family: "Calibri";
    line-height: 1.167;
    text-align: justify;
  }

  .font-small {
    font-size: 25px;
    font-family: "Calibri";
    line-height: 1.439;
    text-align: justify;
  }
}
