@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?r4w7oa');
  src:  url('../fonts/icomoon.eot?r4w7oa#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?r4w7oa') format('truetype'),
  url('../fonts/icomoon.woff?r4w7oa') format('woff'),
  url('../fonts/icomoon.svg?r4w7oa#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-back:before {
  content: "\e905";
}
.icon-check:before {
  content: "\e5ca";
}
.icon-close:before {
  content: "\e5cd";
}
.icon-dehaze:before {
  content: "\e3c7";
}
.icon-expand_less:before {
  content: "\e5ce";
}
.icon-expand_more:before {
  content: "\e5cf";
}
.icon-home:before {
  content: "\e88a";
}
.icon-keyboard_arrow_left:before {
  content: "\e314";
}
.icon-keyboard_arrow_right:before {
  content: "\e315";
}
.icon-keyboard_backspace:before {
  content: "\e317";
}
.icon-menu:before {
  content: "\e5d2";
}
.icon-more_horiz:before {
  content: "\e5d3";
}
.icon-priority_high:before {
  content: "\e645";
}
.icon-sort:before {
  content: "\e164";
}
