::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background-color: #e1e1e1;
}

::-webkit-scrollbar-thumb {
  background-color: #bbb;
}

html, body {
  margin: 0;
  min-height: 100%;
}

body {
  background-image: url('../images/body-bg-red.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Calibri';
  font-size: 15px;

  @for $i from 1 through length($schemes) {
    $c: nth($schemes, $i);
    $b: nth($schemes-background, $i);

    &.#{$c}-scheme {
      background-color: $b;
    }
  }
}

a {
  text-decoration: none;
}

button {
  font-family: 'Calibri';
}

.hidden {
  display: none;
}

footer {
  position: absolute;
  left: 0;
  bottom: 50px;
  width: 100%;
  padding: 0 50px;
  box-sizing: border-box;

  &:after {
    clear: both;
    content: '';
  }
}

.h1-header {
  margin-right: 50px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.75rem;
  line-height: 1;
  padding-bottom: 3rem;
  margin-bottom: 3rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.48);
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;

  .flag-icon {
    font-size: 20px;
    border-radius: 50%;
    margin-right: 8px;
    vertical-align: text-bottom;
  }

  .dropdown {
    font-size: 1.2rem;
  }

  .dropdown-menu {
    background: transparent;
    width: 110px;
    min-width: inherit;
    border: 0;
  }

  .dropdown-toggle {
    background: transparent;
    color: #fff;
    border: 0;
    display: inline-block;
    box-sizing: border-box;
    padding: 11px 20px;
    text-transform: uppercase;
    width: 110px;
    font-size: 18px;
    line-height: 26px;
    text-align: left;
  }

  > li {
    font-size: 1em;
    text-transform: uppercase;
    display: inline-block;
    color: rgba(255, 255, 255, 0.6);
    border: 1px solid transparent;
    border-radius: 2em;
    margin-left: .5rem;
    text-align: center;

    a {
      text-decoration: none;
      padding: 16px 40px;
      display: inline-block;
      color: rgba(255, 255, 255, 0.6);
      transition: color 0.2s;

      &:hover {
        color: rgba(255, 255, 255, 0.4);
      }
    }

    &.active.basic {
      border: 1px solid $scheme-active-basic;
      box-shadow: 0 0px 5px 1px $scheme-active-basic;

      a {
        color: $nav-scheme-color;
      }
    }

    &.active.medium {
      border: 1px solid $scheme-active-medium;
      box-shadow: 0 0px 5px 1px $scheme-active-medium;

      a {
        color: $nav-scheme-color;
      }
    }

    &.active.hard {
      border: 1px solid $scheme-active-hard;
      box-shadow: 0 0px 5px 1px $scheme-active-hard;

      a {
        color: $nav-scheme-color;
      }
    }

    &.home {
      margin-right: -27px;
      border-color: $nav-scheme-color;
      font-size: 1.6rem;
      font-weight: normal;
      line-height: 1;
      margin-left: 0;
      position: absolute;
      right: 0;
      //box-shadow: inset 0 0px 5px 1px $nav-scheme-color, 0 0px 5px 1px $nav-scheme-color;

      span {
        font-weight: bold;
      }

      a {
        padding: 0;
        height: 54px;
        width: 54px;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover, &:focus {
          color: $color-white;
        }
      }
    }
  }
}

.nav-wrapper {

  &:after {
    clear: both;
    content: '';
    display: block;
  }
}

.nav-left {
  float: left;
  position: relative;
  width: 50%;
  padding-right: 50px;
}

.nav-right {
  float: right;

  > li {
    border: 1px solid $nav-scheme-color;

    a {
      padding: 13px 20px;
    }

    + li {
      margin-left: 20px;
    }
  }

  .active {
    font-weight: bold;
    text-shadow: 0 0 1px #fff;
  }
}

.js-change-font-size {
  width: 95px;
  text-align: center;

  span {
    padding: 0 2px;
    line-height: 1;
  }

  .font-big {
    font-size: 120%;
  }

  .font-medium {
    font-size: 100%;
  }

  .font-small {
    font-size: 75%;
  }
}

.dropdown  {

  .dropdown-menu {
    transition: all 0.3s;
    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
  }

  &.show {

    .dropdown-menu {
      padding-bottom: 0;
      max-height: 300px;
      opacity: 1;
    }

    .dropdown-toggle:after {
      content: none;
    }
  }

  .dropdown-toggle {
    cursor: pointer;
    text-align: center;

    &:after {
      //content: "\e5cf";
      content: none;
      font-family: 'icomoon';
      border: 0 !important;
      vertical-align: top;
      font-size: 22px;
      margin-top: 0;
      margin-left: 3px;
    }
  }

  .dropdown-item {
    border: 1px solid transparent;
    border-radius: 30px;
    font-size: 18px;
    line-height: 24px;
    padding: 12px 20px;
    text-align: center;
    margin-bottom: 5px;
    transition: border .3s;

    &:hover, &:focus {
      background: transparent;
      border-color: $nav-scheme-color;
    }
  }
}

.main-content {
  color: $content-color;
  height: calc(100vh - 110px);
  display: flex;
  align-content: center;
  width: 100%;
  padding: 0 35px;
  overflow: auto;
  //padding-top: 135px;

  .container-fluid.align-self-end {
    @media screen and (max-height: 1000px) {
      -ms-flex-item-align: center !important;
      -ms-grid-row-align: center !important;
      align-self: center !important;
    }
  }

  .align-self-top {
    padding-top: 25px;
    padding-left: 30px;
    padding-right: 40px;
  }

  > div {
    width: 100%;
  }

  figure {
    margin: 0;
    height: calc(100vh - 245px);
    text-align: center;
    display: flex;
    justify-content: center;
    padding-right: 60px;

    img {
      border: 1px solid rgba(255, 255, 255, 0.4);
      padding: 10px;
      border-radius: 50%;
      max-height: 100%;
      align-self: center;
    }
  }
}

.scroller-content {
  position: relative;
  max-height: 60vh;
  padding: 5px 50px 5px 0;
}

.ps--theme_new-ams {
  .ps__scrollbar-x-rail,
  .ps__scrollbar-y-rail {
    opacity: 0.6;
  }

  .ps__scrollbar-y {
    box-shadow: 0 0 20px $scheme-scrollbar-color;

    @for $i from 1 through length($schemes) {
      $c: nth($schemes, $i);
      $b: nth($schemes-scrollbar-color, $i);

      .#{$c}-scheme & {
        box-shadow: 0 0 20px $b;
      }
    }
  }

  .ps__scrollbar-y-rail {
    cursor: pointer;


    &:before {
      content: '';
      position: absolute;
      right: 5px;
      width: 1px;
      background: $scheme-scrollbar-color-y;
      box-shadow: 0 0 2px $scheme-scrollbar-color-y;
      height: 100%;
      transition: all .4s;

      @for $i from 1 through length($schemes) {
        $c: nth($schemes, $i);
        $b: nth($schemes-scrollbar-color, $i);
        $y: nth($schemes-scrollbar-color-y, $i);

        .#{$c}-scheme & {
          background: $y;
          box-shadow: 0 0 2px $y;
        }
      }
    }
  }

  &:hover > .ps__scrollbar-y-rail {
    &:hover {
      background-color: transparent;
      opacity: .6;

      > .ps__scrollbar-y {
        background: $scheme-scrollbar-color;
        opacity: .8;

        @for $i from 1 through length($schemes) {
          $c: nth($schemes, $i);
          $b: nth($schemes-scrollbar-color, $i);

          .#{$c}-scheme & {
            background: $b;
          }
        }
      }
    }

    &:before {
      right: 6px;
      opacity: 0;
    }
  }

  > .ps__scrollbar-y-rail > .ps__scrollbar-y {
    width: 8px;
    background: $scheme-scrollbar-color;

    @for $i from 1 through length($schemes) {
      $c: nth($schemes, $i);
      $b: nth($schemes-scrollbar-color, $i);

      .#{$c}-scheme & {
        background: $b;
      }
    }
  }

  &.ps-y {
    .ps__scrollbar-y-rail {

      &:before {
        right: 7px;
      }
    }
  }
}

.btn-switch-lang {
  cursor: pointer;
  background: transparent;
  border: 1px solid $color-white;
  padding: 13px 20px;
  color: rgba(255, 255, 255, 0.6);
  border-radius: 2em;
  outline: none;
  transition: color 0.2s;

  &:hover, &:focus {
    color: $color-white;
    outline: none;
  }
}

.nav-right {

  .btn-switch-lang {
    border: 0;
  }
}
