
.presentation {

  &__top-title {

    color: $color-white;
    text-align: center;
    text-transform: uppercase;
    //margin-top: 250px;

    h1 {
      font-size: 3.45rem;
      font-weight: bold;
      letter-spacing: 3px;
    }
  }
}

.btn-white-shadow {
  color: $color-white;
  transition: box-shadow 0.3s, color 0.3s;
  box-shadow: inset 0 0px 30px 1px rgba(255, 255, 255, 0.4), 0 0px 30px 1px rgba(255, 255, 255, 0.4);

  &:hover {
    color: $color-white;
    box-shadow: inset 0 0px 30px 2px rgba(255, 255, 255, 0.9), 0 0px 30px 2px rgba(255, 255, 255, 0.9);
  }

  &.active {
    border: 1px solid #37b7ff;
    box-shadow: inset 0 0px 30px 1px rgba(10, 52, 120, 0.9), 0 0px 30px 1px rgba(10, 52, 120, 0.9);
  }
}

.btn-blue-shadow {
  color: $color-white;
  border: 1px solid #0a3478;
  transition: box-shadow 0.3s, color 0.3s;
  box-shadow: inset 0 0px 30px 1px rgba(10, 52, 120, 0.4), 0 0px 30px 1px rgba(10, 52, 120, 0.4);

  &:hover {
    color: $color-white;
    box-shadow: inset 0 0px 30px 2px rgba(10, 52, 120, 0.9), 0 0px 30px 2px rgba(10, 52, 120, 0.9);
  }
}

.col-flex {
  display: flex;
}

body.body-choose-presentation {
  background-image: url($background-body);
  background-size: cover;
  background-position: left top;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  button {
    width: 570px;
    display: block;
    height: 117px;
    font-weight: normal;
    font-size: 35px;
    margin: 0 10px;
  }

  .justify-content-between {
    margin-top: 220px;
    margin-bottom: 50px;
  }

  @media (min-width: 1300px) {
    .container {
      width: 1300px;
      max-width: 100%;
    }
  }
}
