.c-typography {
  > div {
    margin-bottom: 15px;
  }
}

.btn-color {
  text-decoration: none;
  padding: 16px 40px;
  display: inline-block;
  color: rgba(255, 255, 255, 0.6);
  transition: color 0.2s;
  text-transform: uppercase;
  background: transparent;
  border: 1px solid transparent;
  border-radius: 2em;
  cursor: pointer;

  &:hover, &:focus {
    outline: none;
  }

  &.active {
    color: $nav-scheme-color;
  }
}

.active {

  &.btn-yellow {
    border: 1px solid $scheme-active-basic;
    box-shadow: inset 0 0px 5px 1px $scheme-active-basic, 0 0px 5px 1px $scheme-active-basic;
  }

  &.btn-blue {
    border: 1px solid $scheme-active-medium;
    box-shadow: inset 0 0px 5px 1px $scheme-active-medium, 0 0px 5px 1px $scheme-active-medium;
  }

  &.btn-red {
    border: 1px solid $scheme-active-hard;
    box-shadow: inset 0 0px 5px 1px $scheme-active-hard, 0 0px 5px 1px $scheme-active-hard;
  }
}

.btn-white {
  border: 1px solid $nav-scheme-color;
  padding: 14px 20px;
  text-decoration: none;
  display: inline-block;
  color: rgba(255, 255, 255, 0.6);
  transition: color 0.2s;
  font-size: 1em;
  text-transform: uppercase;
  border-radius: 2em;

  &:hover, &:focus {
    color: rgba(255, 255, 255, 0.4);
    text-decoration: none;
  }

  .active {
    font-weight: bold;
    text-shadow: 0 0 1px $nav-scheme-color;
  }
}

.btn-home {
  border: 1px solid $nav-scheme-color;
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 1;
  //box-shadow: inset 0 0px 5px 1px $nav-scheme-color, 0 0px 5px 1px $nav-scheme-color;
  padding: 0;
  height: 54px;
  width: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: rgba(255, 255, 255, 0.6);
  transition: color .2s;

  &:hover, &:focus {
    color: $nav-scheme-color;
    text-decoration: none;
  }
}

.btn-dropdown-language {

  button {
    background: transparent;
    color: $nav-scheme-color;
    display: inline-block;
    box-sizing: border-box;
    padding: 12px 20px;
    text-transform: uppercase;
    width: 110px;
    font-size: 18px;
    line-height: 26px;
    text-align: left;
    border: 1px solid $nav-scheme-color;
    border-radius: 2em;
  }

  .flag-icon {
    font-size: 20px;
    border-radius: 50%;
    margin-right: 8px;
    vertical-align: text-bottom;
  }

  .dropdown-menu {
    background: transparent;
    width: 110px;
    min-width: inherit;
    border: 0;
  }

  .dropdown-item {
    color: rgba(255, 255, 255, 0.6);
    transition: color 0.2s;

    &:hover {
      color: rgba(255, 255, 255, 0.4);
    }
  }
}

.btn-bg {
  text-decoration: none;
  padding: 22px;
  display: inline-block;
  color: rgba(255, 255, 255, 0.6);
  transition: color 0.2s;
  text-transform: uppercase;
  background: transparent;
  border: 0;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 85px;
  width: 250px;
  height: 65px;
  outline: none;

  &:hover, &:focus {
    outline: none;
  }

  &.btn-bg-red {
    background-image: url('../images/btn-red.png');

    &.active {
      background-image: url('../images/btn-red-active.png');
    }
  }

  &.btn-bg-yellow {
    background-image: url('../images/btn-yellow.png');

    &.active {
      background-image: url('../images/btn-yellow-active.png');
    }
  }

  &.btn-bg-blue {
    background-image: url('../images/btn-blue.png');

    &.active {
      background-image: url('../images/btn-blue-active.png');
    }
  }
}
