$nav-scheme-color: #fff;
$scheme-active: #deff00;
$scheme-active-basic: #deff00;
$scheme-active-medium: #0a3478;
$scheme-active-hard: #ff0000;
$scheme-scrollbar-color: #ff0000;
$scheme-scrollbar-color-y: #fff;
$content-color: #fff;
$color-white: #fff;

//red is default :)
$red-scheme-background: red;
$red-scheme-scrollbar-color: #810c14;
$red-scheme-scrollbar-color-y: #fff;

$schemes: 'red', 'blue', 'orange', 'grey', 'green';
$schemes-background: red, #03093e, #85440d, #2d2d2d, #34562b;
$schemes-scrollbar-color: #810c14, #050c83, orange, grey, green;
$schemes-scrollbar-color-y: #fff, #fff, #fff, #fff, #fff;
